@font-face {
    font-family: 'wpp-tiny';
    src:  url('wpp-tiny.eot?wpp');
    src:  url('wpp-tiny.eot?wpp#iefix') format('embedded-opentype'),
    url('wpp-tiny.ttf?wpp') format('truetype'),
    url('wpp-tiny.woff?wpp') format('woff'),
    url('wpp-tiny.svg?wpp#wpp-tiny') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}