
ul.wpp-main-nav a {
    font-size: 20px;
    text-decoration: none;
    padding: 18px 0;
    display: block;
    color: var(--dark)
}
a:hover,ul.wpp-main-nav a:hover{
    color: var(--red-dark);
}

.wpp-head-top-panel {
    background: var(--dark);
    color: var(--lite);
    padding: 2px 0;
}

nav.wpp-top-user-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav.wpp-top-user-nav li {
    margin-right: 6px;
    display: inline-block;
}

nav.wpp-top-user-nav li:last-of-type {
    margin-right: 0;
}

nav.wpp-top-user-nav a {
    width: 24px;
    background-color: var(--red);
    border-radius: 50%;
    height: 23px;
    display: block;
    text-align: center;
    padding: 5px;
    box-sizing: content-box;
    float: right;
}

nav.wpp-top-user-nav a img {
    width: 20px;
    height: 20px;
}

ul.wpp-main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.wpp-main-nav li {
    float: left;
    font-size: 1.5rem;
    margin-right: 15px;
}

.logo {
    font-size: 50px;
    font-weight: 600;
}

.wpp-head-bottom-panel {
    background-color: var(--lite);
    padding: 15px 0;
    position: relative;
}

.wpp-search-trigger {
    position: absolute;
    padding: 10px;
    margin-top: 15px;
    background-color: var(--lite);
    width: 50px;
    text-align: center;
    border-radius: 0 0 7px 7px;
    right: 15px;
}

.wpp-search-btn {
    position: absolute;
    right: 0;
    padding: 7px 45px 3px;
}

form.wpp-main-search {
    position: relative;
}


input.wpp-input.wpp-search-input {
    padding-right: 130px;
}

.wpp-head-bottom-panel.wpp-show-hide-block {
    margin-top: -65px;
    z-index: -1;
}

.wpp-head-main-panel {
    background-color: #fff;
}

.nav-get {
    padding: 14px 11px 8px;
    cursor: pointer;
    display: none;
    float: right;
    margin-right: -14px;
}

@media ( max-width: 1124px) {
    .wpp-main-nav{
        display: none;
    }

    .nav-get {
        padding: 14px 11px 8px;
        cursor: pointer;
        display: inline-block;
    }

    ul.wpp-main-nav {
        height: 100vh;
        position: fixed;
        top: 0;
        box-sizing: border-box;
        background-color: #fff;
        width: 100vw;
        left: 0;
        padding: 20px;
    }

    ul.wpp-main-nav li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
    }

    ul.wpp-main-nav li a {
        font-size: 23px;
        padding: 8px;
    }

    ul.wpp-main-nav li:last-of-type {
        border-bottom: none;
    }
}